---
import MainNavBarSearch from "./MainNavBarSearch.svelte";
import BrandImage from "../images/MoviesMoviesMovies_logo_path.svg";
import Image from "astro/components/Image.astro";
const URL = Astro.url.pathname;
const BASE_URL = import.meta.env.BASE_URL;
---

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href={BASE_URL}>
      <Image
        src={BrandImage}
        alt="Movies Movies Movies"
        width="80"
        height="50"
        loading="eager"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa-solid fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: URL === `${BASE_URL}/genre` }}
            href=`${BASE_URL}/genre`
          >
            Genre
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: URL === `${BASE_URL}/upcoming` }}
            href=`${BASE_URL}/upcoming`
          >
            Upcoming
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: URL === `${BASE_URL}/myratings` }}
            href=`${BASE_URL}/myratings`
          >
            My Ratings
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: URL === `${BASE_URL}/settings` }}
            href=`${BASE_URL}/settings`
          >
            Settings
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:list={{ active: URL === `${BASE_URL}/credits` }}
            href=`${BASE_URL}/credits`
          >
            Credits
          </a>
        </li>
      </ul>
      <MainNavBarSearch client:only="svelte" />
    </div>
  </div>
</nav>
