---
const URL = Astro.url.pathname;
const BASE_URL = import.meta.env.BASE_URL;
const { activeUrl } = Astro.props;
---

<a
  class="nav-link"
  class:list={{
    active:
      URL === `${BASE_URL}/${activeUrl}` || URL === `${BASE_URL}/${activeUrl}/`,
  }}
  href=`${BASE_URL}/${activeUrl}`
>
  <slot />
</a>
